:root {
  --color-brand: #3c352c;
  --color-brand-light: #E0BBE4;
  --color-brand-dark: #4B3F72;
  --color-accent: #FEC8D8;
  --color-neutral: #F8F8F8;
}

.bg-brand {
  background-color: var(--color-brand);
}
.text-brand {
  color: var(--color-brand);
}
.bg-accent {
  background-color: var(--color-accent);
}
.text-accent {
  color: var(--color-accent);
}
