:root {
  --bg: #5C352C;
  --accent: #E9B48A;
  --accent-dark: #956959;
  --deep: #2A1713;
  --light: #ffffff;
  --light-soft: #f7f4f2;
}

body {
  background: var(--bg);
  color: var(--light);
  font-family: 'Inter', sans-serif;
}
